body{
    background: gray;
}
p{
    font-size: 30px;
    padding: 200px 20px 0 20px;
}
.btn-div{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
button{
    padding: 7px;
}